.table-container {
    padding: 20px;
    position: relative;
    margin: 100px 20px 0px 20px;


    @media screen and (min-width: 768px) {
        margin: 100px 50px 0px 50px;

    }

    @media screen and (min-width: 1024px) {
        margin: 100px 100px 0px 100px;

    }

    @media screen and (min-width: 1200px) {
        margin: 100px 200px 0px 200px;

    }
}